*,
a,
img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: top -400px left -400px, bottom -400px right -400px;
  background-repeat: no-repeat, no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  height: 300px;
  border-radius: 8px;
}

.personal-info {
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(images/bg-pattern-card.svg);
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border: 4px solid white;
  margin-bottom: -38px;
  z-index: 1;
}

.position {
  height: 117.5px;
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 24px;
}

.name-age {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 60%);
}

.socials {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid hsl(0, 0%, 90%);
}

.follows,
.likes,
.photos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 8px;
  line-height: 18px;
  color: hsl(0, 0%, 60%);
  letter-spacing: 1px;
}

h1 {
  letter-spacing: 0;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 0 8px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: hsl(0, 0%, 60%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
